<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30577304212-rfp33add59o17m9cansfs5uqkbh92fg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30577304212-rfp33add59o17m9cansfs5uqkbh92fg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCgVvMtneWuhBZUr2epUMb0UXLyk0YbB1M</string>
	<key>GCM_SENDER_ID</key>
	<string>30577304212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tubes</string>
	<key>PROJECT_ID</key>
	<string>testing-f4b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-f4b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30577304212:ios:573ec9709e27233c370a81</string>
</dict>
</plist>